<table class="table_score table table-striped" id="{{game._id}}">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            {{#each game.players}}
                <th scope="col">{{this}}</th>
            {{/each}}
        </tr>
        <tr>
            <th scope="col">Sum of Score (<span>{{sumPlayerScoreTotal}}</span>)</th>
            {{#each sumPlayerScore}}
                <th scope="col" class="sum-player-score-{{@index}}">{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each game.scores}}
            <tr class="{{checkSumScore this}}">
                <th scope="row">{{add @index 1}} <span>*Sum of score need to be 0!</span></th>
                {{#each this}}
                <td><input data-indexRow="{{@../index}}" data-indexCol="{{@index}}" class="form-control" type="number" value="{{this}}"></td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="text-center">
    <button class="btn btn-danger" id="add_round">ADD ROUND</button>
</div>

<script>
    $("#add_round").click(function() {
        $.ajax({
            url: "/api/game",
            type: "PUT",
            data: {
                gameId: $(".table_score").attr("id")
            }
        }).then((res) => {
            if(res.success) {
                $(".table_score tbody").append(`
                    <tr>
                        <th scope="row">${$(".table_score tbody tr").length + 1} <span>*Sum of score need to be 0!</span></th>
                        <td><input data-indexRow="${$(".table_score tbody tr").length}" data-indexCol="0" class="form-control" type="number" value="0"></td>
                        <td><input data-indexRow="${$(".table_score tbody tr").length}" data-indexCol="1" class="form-control" type="number" value="0"></td>
                        <td><input data-indexRow="${$(".table_score tbody tr").length}" data-indexCol="2" class="form-control" type="number" value="0"></td>
                        <td><input data-indexRow="${$(".table_score tbody tr").length}" data-indexCol="3" class="form-control" type="number" value="0"></td>
                    </tr>
                `);
            }
        });
    });

    $(document).on("click", ".table_score tbody input", function() {
        let score = {
            value: $(this).val(),
            col: $(this).attr("data-indexCol"),
            row: $(this).attr("data-indexRow")
        }
        
        let sumPlayerScore = 0;

        for(let i = 0; i < $(".table_score tbody input[data-indexCol='"+score.col+"']").length; i++) {
            sumPlayerScore += Number($($(".table_score tbody input[data-indexCol='"+score.col+"']")[i]).val());
        }

        $(".table_score thead > tr:nth-child(2) > th:first-child span").html(Number($(".table_score thead > tr:nth-child(2) > th:first-child span").html()) + sumPlayerScore - Number($(".table_score thead .sum-player-score-"+score.col).html()));

        $(".table_score thead .sum-player-score-"+score.col).html(sumPlayerScore);

        let sumRowScore = Number($($(".table_score tbody input[data-indexRow='"+score.row+"']")[0]).val()) + Number($($(".table_score tbody input[data-indexRow='"+score.row+"']")[1]).val()) + Number($($(".table_score tbody input[data-indexRow='"+score.row+"']")[2]).val()) + Number($($(".table_score tbody input[data-indexRow='"+score.row+"']")[3]).val());

        if(sumRowScore != 0 && !$($(".table_score tbody tr")[score.row]).hasClass("invalid")) $($(".table_score tbody tr")[score.row]).addClass("invalid")
        else if(sumRowScore == 0 && $($(".table_score tbody tr")[score.row]).hasClass("invalid")) $($(".table_score tbody tr")[score.row]).removeClass("invalid");

        $.ajax({
            type: "PUT",
            url: "/api/game",
            data: {
                gameId: $(".table_score").attr("id"),
                score
            }
        }).then(res => {
            if(res.success) console.log("success");
        })
    });
</script>